@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("/public/SpoqaHanSansNeo-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("/public/SpoqaHanSansNeo-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("/public/SpoqaHanSansNeo-Bold.otf");
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
